---
# tasks file for ansible-role-hvault-secrets-fetcher

- name: Set facts
  ansible.builtin.set_fact:
    kv1_secrets: "{{ hvault_secrets_fetcher_list
      | selectattr('secrets_engine', 'equalto', 'kv1')
      | list }}"
    kv2_secrets: "{{ hvault_secrets_fetcher_list
      | selectattr('secrets_engine', 'equalto', 'kv2')
      | list }}"
    selinux_paths: "{{ hvault_secrets_fetcher_list
      | selectattr('dst_restore_selinux', 'defined')
      | selectattr('dst_restore_selinux', 'equalto', true)
      | map(attribute='dst_path')
      | map('dirname')
      | unique | list }}"

- name: Handle KV1 secret
  when: kv1_secrets | length > 0
  delegate_to: localhost
  become: false
  community.hashi_vault.vault_kv1_get:
    url: "{{ hvault_secrets_fetcher_vault_address }}"
    auth_method: "{{ hvault_secrets_fetcher_auth_method }}"
    token: "{{ hvault_secrets_fetcher_auth_token_token | default(omit) }}"
    username: "{{ hvault_secrets_fetcher_auth_userpass_username | default(omit) }}"
    password: "{{ hvault_secrets_fetcher_auth_userpass_password | default(omit) }}"
    role_id: "{{ hvault_secrets_fetcher_auth_approle_role_id | default(omit) }}"
    secret_id: "{{ hvault_secrets_fetcher_auth_approle_secret_id | default(omit) }}"
    mount_point: "{{ hvault_secrets_fetcher_auth_method_mount_point | default(omit) }}"
    validate_certs: "{{ hvault_secrets_fetcher_vault_validate_certs }}"
    path: "{{ item.secret_name }}"
    engine_mount_point: "{{ item.secrets_engine_mount_point | default(omit) }}"
  loop: "{{ kv1_secrets }}"
  loop_control:
    label: "{{ item.secret_name }}"
  register: kv1_results

- name: Handle KV2 secrets
  when: kv2_secrets | length > 0
  delegate_to: localhost
  become: false
  community.hashi_vault.vault_kv2_get:
    url: "{{ hvault_secrets_fetcher_vault_address }}"
    auth_method: "{{ hvault_secrets_fetcher_auth_method }}"
    token: "{{ hvault_secrets_fetcher_auth_token_token | default(omit) }}"
    username: "{{ hvault_secrets_fetcher_auth_userpass_username | default(omit) }}"
    password: "{{ hvault_secrets_fetcher_auth_userpass_password | default(omit) }}"
    role_id: "{{ hvault_secrets_fetcher_auth_approle_role_id | default(omit) }}"
    secret_id: "{{ hvault_secrets_fetcher_auth_approle_secret_id | default(omit) }}"
    mount_point: "{{ hvault_secrets_fetcher_auth_method_mount_point | default(omit) }}"
    validate_certs: "{{ hvault_secrets_fetcher_vault_validate_certs }}"
    path: "{{ item.secret_name }}"
    engine_mount_point: "{{ item.secrets_engine_mount_point | default(omit) }}"
    version: "{{ item.secret_version | default(omit) }}"
  loop: "{{ kv2_secrets }}"
  loop_control:
    label: "{{ item.secret_name }}"
  register: kv2_results

- name: Combine KV results
  ansible.builtin.set_fact:
    kv_results: "{{ kv1_results | combine(kv2_results, list_merge='append', recursive=true) }}"

- name: Test key info
  block:
    - name: Test private key(s)
      community.crypto.openssl_privatekey_info:
        content: "{{ item.0.secret[item.1.secret_key] }}"
      with_subelements:
        - "{{ kv_results.results }}"
        - item.secret_keys
      loop_control:
        label: "{{ item.1.dst_path }}"
      register: key_info
      no_log: true
      when: "'BEGIN PRIVATE KEY' in item.0.secret[item.1.secret_key]"
  rescue:
    - name: Fail with error
      ansible.builtin.debug:
        msg: >
          The private key for '{{ item.item[0].item.secret_name }}' failed.
          Please check that the contents are valid.
      loop: "{{ ansible_failed_result.results }}"
      when: item.msg is defined
      loop_control:
        label: "{{ item.item[0].item.secret_name }}"
    - name: Abort play
      ansible.builtin.meta: end_play

- name: Test certificate info
  block:
    - name: Test certificate(s)
      community.crypto.x509_certificate_info:
        content: "{{ item.0.secret[item.1.secret_key] }}"
      with_subelements:
        - "{{ kv_results.results }}"
        - item.secret_keys
      loop_control:
        label: "{{ item.1.dst_path }}"
      register: cert_info
      no_log: true
      when: "'BEGIN CERTIFICATE' in item.0.secret[item.1.secret_key]"
  rescue:
    - name: Fail with error
      ansible.builtin.debug:
        msg: >
          The certificate for '{{ item.item[0].item.secret_name }}'
          failed with the following error: {{ item.msg }}
      loop: "{{ ansible_failed_result.results }}"
      when: item.msg is defined
      loop_control:
        label: "{{ item.item[0].item.secret_name }}"
    - name: Abort play
      ansible.builtin.meta: end_play

- name: Ensure secrets are written to disk
  ansible.builtin.copy:
    content: "{{ item.0.secret[item.1.secret_key] + '\n' }}"
    dest: "{{ item.1.dst_path }}"
    mode: "{{ item.1.dst_mode | default(omit) }}"
    owner: "{{ item.1.dst_owner | default(omit) }}"
    group: "{{ item.1.dst_group | default(omit) }}"
    force: "{{ item.1.dst_replace_file | default(true) }}"
  with_subelements:
    - "{{ kv_results.results }}"
    - item.secret_keys
  loop_control:
    label: "{{ item.1.dst_path }}"
  when: not item.1.dst_absent | default(false)
  become: true

- name: Ensure secrets marked as absent are removed from disk
  ansible.builtin.file:
    dest: "{{ item.1.dst_path }}"
    state: absent
  with_subelements:
    - "{{ kv_results.results }}"
    - item.secret_keys
  loop_control:
    label: "{{ item.1.dst_path }}"
  when: item.1.dst_absent | default(false)
  become: true

- name: Apply SELinux context to filesystem
  ansible.builtin.command:
    cmd: restorecon -irv {{ item }}
  register: restorecon_output
  changed_when: "'relabeled' in restorecon_output.stdout.lower()"
  failed_when: restorecon_output.rc != 0
  loop: "{{ selinux_paths }}"
  loop_control:
    label: "{{ item }}"
  become: true
  when:
    - selinux_paths | length > 0
    - ansible_facts.distribution == 'RedHat'
